@model IEnumerable<CK_CDO_Final.Entities.Hnx>

@{
    ViewData["Title"] = "HNX";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="title-5 m-b-35">Theo dõi giá chứng khoán sàn HNX</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <form asp-action="Index" method="post">
                    <div class="rs-select2--light rs-select2--sm">
                        <input type="text" class="form-control" placeholder="Search for" id="searchString" name="searchString" value="@ViewData["Search"]" />
                    </div>
                    <div class="rs-select2--light rs-select2--sm">
                        <input type="date" id="date" name="date" class="form-control" value="@ViewData["Date"]" />
                    </div>
                    <button class="btn btn-light" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    <button class="btn btn-danger" id="clear" type="reset">
                        <i class="fa fa-eraser"></i>
                        Clear
                    </button>
                </form>
            </div>

        </div>
        <!-- DATA TABLE -->
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr class="row">
                        <th class="col-lg-2">
                            <a asp-action="Index" asp-route-date="@ViewData["Date"]" asp-route-searchString="@ViewData["Search"]" asp-route-sortOrder="@ViewData["Ma"]">@Html.DisplayNameFor(model => model.MA)</a>
                        </th>
                        <th class="col-lg-2">
                            @Html.DisplayNameFor(model => model.NGAY)
                        </th>
                        <th class="col-lg-1">
                            <a asp-action="Index" asp-route-date="@ViewData["Date"]" asp-route-searchString="@ViewData["Search"]" asp-route-sortOrder="@ViewData["Open"]">@Html.DisplayNameFor(model => model.GIAMOCUA)</a>
                        </th>
                        <th class="col-lg-1">
                            @Html.DisplayNameFor(model => model.GIATRAN)
                        </th>
                        <th class="col-lg-1">
                            @Html.DisplayNameFor(model => model.GIASAN)
                        </th>
                        <th class="col-lg-2">
                            <a asp-action="Index" asp-route-date="@ViewData["Date"]" asp-route-searchString="@ViewData["Search"]" asp-route-sortOrder="@ViewData["Close"]">@Html.DisplayNameFor(model => model.GIADONGCUA)</a>
                        </th>
                        <th class="col-lg-3">
                            @Html.DisplayNameFor(model => model.KHOILUONG)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-shadow row">
                            <td class="col-lg-2">
                                <a asp-action="CompanyView" asp-route-id="@item.MA" asp-route-date="@ViewData["Date"]" asp-route-searchString="@ViewData["Search"]">@Html.DisplayFor(modelItem => item.MA)</a>
                            </td>
                            <td class="col-lg-2">
                                @Html.DisplayFor(modelItem => item.NGAY)
                            </td>
                            <td class="col-lg-1">
                                @Html.DisplayFor(modelItem => item.GIAMOCUA)
                            </td>
                            <td class="col-lg-1">
                                @Html.DisplayFor(modelItem => item.GIATRAN)
                            </td>
                            <td class="col-lg-1">
                                @Html.DisplayFor(modelItem => item.GIASAN)
                            </td>
                            <td class="col-lg-2">
                                @Html.DisplayFor(modelItem => item.GIADONGCUA)
                            </td>
                            <td class="col-lg-3">
                                @item.KHOILUONG.ToString("n0")
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                    }
                </tbody>
            </table>
            <partial name="_LayoutPage" />
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>
@section js
{
    <script>
        $(function () {
            $("#clear").click(function () {
                $("#date").attr("value", "");
                $("#searchString").attr("value", "");
                window.location.href="HnxView";
            });
        });
    </script>

}