@model CK_CDO_Final.Entities.Index

@{
    ViewData["Title"] = "Index - Delete";
}

<div class="row">
    <div class="card card-body">
        <div class="card-header title--sbold">
            Xóa thông tin chỉ số <br>
            Bạn chắc chắn muốn xóa thông tin chỉ số này?
        </div>
        <div class="card-body card-block">
            <input type="hidden" asp-for="ID" />
            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.CHISO)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.CHISO)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.NGAY)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.NGAY)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.MOCUA)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.MOCUA)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.TRAN)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.TRAN)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.SAN)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.SAN)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.DONGCUA)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.DONGCUA)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.KHOILUONG)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.KHOILUONG)
                </div>
            </div>

            <form asp-action="Delete">
                <div class="form-group card-footer">
                    <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Delete" class="btn btn-danger col-2" />
                    <a asp-action="Index" class="btn btn-secondary col-2">Back</a>
                </div>
            </form>

        </div>
    </div>
</div>
